*{
    margin: 0;
    padding: 0;
}
.wrapper-div{
    width: 1000px;
    border: 1px solid rgb(165, 45, 9);
    margin: 60px auto;
    text-align: center;
}
.basicDesign{
    height:200px;
    width: 200px;
    margin: 50px;
    background: palevioletred;
    display: inline-block;
    transition: .5s;
}
.div1{
   transition: .5s;
}
.div1:hover{
    transform: translate(-10px,20px);
}
.div2{
    transform: rotate(0);
}
.div2:hover{
    transform: rotate(30deg);
    transition: .5s;
}
.div3{
    transition: .5s;
}

.div3:hover{
    transform: skew(1deg,-20deg);
}
.div4:hover{
    transform: scale(1.5);
}
.img-wrapper{
    width: 300px;
    margin: auto;
    text-align: center;
    border: 1px solid rgb(250, 126, 126);
    padding: 50px;
}
.img-wrapper img{
    max-width: 100%;
    cursor: pointer;
    transition: .5s;
    
}
.img-wrapper img:hover{
    transform: scale(1.2) rotate(360deg);
}